{{Extend "layout"}}
{{Block "title"}}{{"防火墙规则"|$.T}} - {{$.Stored.title}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/firewall/rule/dynamic">{{"防火墙动态规则"|$.T}}</a></li>
<li class="active">{{$.Stored.title}}</li>
{{/Block}}

{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3>{{$.Stored.title}}</h3>
            </div>
            <div class="content">
                <form class="form-horizontal group-border-dashed" method="POST">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"数据来源"|$.T}}</label>
                        <div class="col-sm-4">{{$sourceType := $.Form `type`}}
                            <select name="sourceType" id="sourceType" class="form-control" required>
                                {{- range $k, $v := $.Stored.sourceList -}}
                                <option value="{{$v.K}}"{{if eq $sourceType $v.K}} selected{{end}}>{{$v.V}}</option>
                                {{- end -}}
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">{{"资源类型"|$.T}}</label>
                        <div class="col-sm-4">
                            <input type="text" name="sourceArgs" id="sourceArgs" class="form-control" value="{{$.Form `sourceArgs`}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"匹配规则"|$.T}}</label>
                        <div class="col-sm-9">
                            <input type="text" name="regexp" id="regexp" class="form-control" value="{{$.Form `regexp`}}" required>
                            <div class="help-block">
                                {{`请输入正则表达式。必须带占位符`|$.T}}
                                <code>%ip%</code>
                                {{`它代表IP地址 (IPv4 和 IPv6)。`|$.T}}<br />
                                {{`如果指定了“聚合规则”，则必须在这里也加上占位符`|$.T}}
                                <code>%id%</code>。
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"聚合规则"|$.T}}</label>
                        <div class="col-sm-9">
                            <span class="input-group">
                                <span class="input-group-addon">{{`时长`|$.T}}</span>
                                <input type="text" name="aggregateDuration" id="aggregateDuration" class="form-control" value="{{$.Form `aggregateDuration`}}" placeholder="{{`指定时长。例如：5s(5秒), 1m(1分钟)`|$.T}}" pattern="^(\d[smhd])*$">
                                <span class="input-group-addon">{{`内匹配到`|$.T}}</span>
                                <input type="text" name="aggregateRegexp" id="aggregateRegexp" class="form-control" value="{{$.Form `aggregateRegexp`}}" placeholder="{{`正则表达式规则`|$.T}}">
                            </span>
                            {{`指定规则时，必须带占位符`|$.T}}<code>%id%</code>。<br />
                            {{`在匹配到上面的“匹配规则”后，在指定时长内匹配到这里指定的规则时，每匹配一次算一次。`|$.T}}<br />
                            {{`例如：在匹配到上面的“匹配规则”后，在 5 秒内匹配到这里的规则 3 次，则算 3 次`|$.T}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"发生频率"|$.T}}</label>
                        <div class="col-sm-9">
                            <span class="input-group">
                                <span class="input-group-addon">{{`时长`|$.T}}</span>
                                <input type="text" name="occurrenceDuration" id="occurrenceDuration" class="form-control" value="{{$.Form `occurrenceDuration`}}" placeholder="{{`指定时长。例如：5s(5秒), 1m(1分钟)`|$.T}}" pattern="^(\d[smhd])*$">
                                <span class="input-group-addon">{{`内匹配到`|$.T}}</span>
                                <input type="number" name="occurrenceNum" id="occurrenceNum" class="form-control" value="{{$.Form `occurrenceNum`}}" placeholder="{{`次数`|$.T}}" min="0" step="1">
                                <span class="input-group-addon">{{`次`|$.T}}</span>
                            </span>
                            {{`例如：持续次数设置为 5，持续时长设置为 10s。则代表在10秒内匹配到5次，就会执行该操作，并重置计数器。`|$.T}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"执行操作"|$.T}}</label>
                        <div class="col-sm-4">{{$actionType := $.Form `actionType`}}
                            <select name="actionType" id="actionType" class="form-control" required>
                                {{- range $k, $v := $.Stored.actionList -}}
                                <option value="{{$v.K}}"{{if eq $actionType $v.K}} selected{{end}}>{{$v.V}}</option>
                                {{- end -}}
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">{{"操作参数"|$.T}}</label>
                        <div class="col-sm-4">
                            <input type="text" name="actionArg" id="actionArg" class="form-control" value="{{$.Form `actionArg`}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"状态"|$.T}}</label>
                        <div class="col-sm-9">{{$v := $.Form "disabled"}}
                          <div class="radio radio-primary radio-inline">
                            <input type="radio" value="N" id="disabled-N" name="disabled"{{if or (eq $v `N`) (eq $v ``)}} checked{{end}}><label for="disabled-N">{{"启用"|$.T}}</label>
                          </div>
                          <div class="radio radio-danger radio-inline">
                            <input type="radio" value="Y" id="disabled-Y" name="disabled"{{if eq $v `Y`}} checked{{end}}><label for="disabled-Y">{{"禁用"|$.T}}</label>
                          </div>
                        </div>
                    </div>

                    <div class="form-group form-submit-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i>
                                {{"保存"|$.T}}
                            </button>
                            <button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i>
                                {{"重置"|$.T}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{/Block}}

{{Block "footer"}}
{{/Block}}