{{Extend "layout"}}
{{Block "title"}}{{"防火墙规则"|$.T}} - {{$.Stored.title}}{{/Block}}
{{Block "breadcrumb"}}
{{Super}}
<li><a href="{{BackendURL}}/firewall/rule/static">{{"防火墙静态规则"|$.T}}</a></li>
<li class="active">{{$.Stored.title}}</li>
{{/Block}}

{{Block "main"}}
<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3>{{$.Stored.title}}</h3>
            </div>
            <div class="content">
                <form class="form-horizontal group-border-dashed" method="POST">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"类型"|$.T}}</label>
                        <div class="col-sm-4">{{$type := $.Form `type`}}
                            <select name="type" id="type" class="form-control">
                                {{- range $k, $v := $.Stored.typeList -}}
                                <option value="{{$v.K}}"{{if eq $type $v.K}} selected{{end}}>{{$v.V}}</option>
                                {{- end -}}
                            </select>
                        </div>
                        <label class="col-sm-1 control-label">{{"位置"|$.T}}</label>
                        <div class="col-sm-4">
                            <input type="number" name="position" id="position" class="form-control" value="{{$.Form `position`}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"名称"|$.T}}</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" id="name" class="form-control" value="{{$.Form `name`}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"方向"|$.T}}</label>
                        <div class="col-sm-4">
                            <input type="text" name="direction" id="direction" class="form-control" value="{{$.Form `direction`}}">
                        </div>
                        <label class="col-sm-1 control-label">{{"协议"|$.T}}</label>
                        <div class="col-sm-4">
                            <input type="text" name="protocol" id="protocol" class="form-control" value="{{$.Form `protocol`}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"远程IP"|$.T}}</label>
                        <div class="col-sm-4">
                            <input type="text" name="remoteIp" id="remoteIp" class="form-control" value="{{$.Form `remoteIp`}}">
                        </div>
                        <label class="col-sm-1 control-label">{{"远程端口"|$.T}}</label>
                        <div class="col-sm-4">
                            <input type="text" name="remotePort" id="remotePort" class="form-control" value="{{$.Form `remotePort`}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"服务IP"|$.T}}</label>
                        <div class="col-sm-4">
                            <input type="text" name="localIp" id="localIp" class="form-control" value="{{$.Form `localIp`}}">
                        </div>
                        <label class="col-sm-1 control-label">{{"服务端口"|$.T}}</label>
                        <div class="col-sm-4">
                            <input type="text" name="localPort" id="localPort" class="form-control" value="{{$.Form `localPort`}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{"操作"|$.T}}</label>
                        <div class="col-sm-4">
                            <input type="text" name="action" id="action" class="form-control" value="{{$.Form `action`}}">
                        </div>
                        <label class="col-sm-1 control-label">{{"状态"|$.T}}</label>
                        <div class="col-sm-4">{{$v := $.Form "disabled"}}
                          <div class="radio radio-primary radio-inline">
                            <input type="radio" value="N" id="disabled-N" name="disabled"{{if or (eq $v "N") (eq $v "")}} checked{{end}}><label for="disabled-N">{{"启用"|$.T}}</label>
                          </div>
                          <div class="radio radio-danger radio-inline">
                            <input type="radio" value="Y" id="disabled-Y" name="disabled"{{if eq $v "Y"}} checked{{end}}><label for="disabled-Y">{{"禁用"|$.T}}</label>
                          </div>
                        </div>
                      </div>

                    <div class="form-group form-submit-group">
                        <div class="col-sm-9 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i>
                                {{"保存"|$.T}}
                            </button>
                            <button type="reset" class="btn btn-default btn-lg"><i class="fa fa-refresh"></i>
                                {{"重置"|$.T}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{/Block}}

{{Block "footer"}}
{{Include "filemanager/file.script"}}
<script>
    function uploadURL(currentPath) {
        return BACKEND_URL + '/download/file?do=upload&path=' + encodeURIComponent(currentPath);
    }
    function initDropzone(options) {
        $('#multi-upload-dropzone').dropzone($.extend({}, options, {
            url: uploadURL('{{$.Stored.path}}'),
            dictDefaultMessage: '{{"可以把文件拖到这里来进行上传哦"|$.T}}'
        }));
        $('#multi-upload-zip-dropzone').dropzone($.extend({}, options, {
            url: uploadURL('{{$.Stored.path}}') + '&pipe=unzip',
            dictDefaultMessage: '{{"可以把文件拖到这里来进行上传哦"|$.T}}<p>{{"仅支持上传zip压缩包。成功解压到当前目录后，该压缩包会被自动删除"|$.T}}</p>',
            acceptedFiles: 'application/zip,application/x-zip-compressed'
        }));
    }
</script>
<script type="text/javascript" src="{{AssetsURL}}/js/behaviour/page/file.min.js"></script>
{{/Block}}